<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data"/>
        <!--<section name="oracleConnectionSettings" type="EntLibContrib.Data.OdpNet.Configuration.OracleConnectionSettings,EntLibContrib.Data.OdpNet"/>-->
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" requirePermission="true"/>
    </configSections>
    <connectionStrings>
        <add name="ConnStr" connectionString="User ID=essence;Password=dbs#gop#test#123;Data Source=92.29_ORCL;" providerName="System.Data.OracleClient" />
        <!--Oracle.DataAccess.Client-->
        <add name="MsSqlConnStr" connectionString="Data Source=AX-EC-G01\SQL2008R2;Initial Catalog=UC7;Integrated Security=True;" providerName="System.Data.SqlClient" />
        <add name="MySqlConnStr" connectionString="Data Source=mysql.sql82.eznowdata.com;Initial Catalog=sq_smas;user id=sq_smas;password=mas123456;" providerName="MySql.Data.MySqlClient" />
        <add name="sqlite" connectionString="Data Source=|DataDirectory|\Win.db;Version=3;" providerName="System.Data.SQLite" />
        <add name="access" connectionString="Data Source=|DataDirectory|\Win.db;Version=3;" providerName="System.Data.OleDb" />
        <add name="ODPConnStr" connectionString="User ID=essence;Password=dbs#gop#test#123;Data Source=92.29_ORCL;" providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <dataConfiguration defaultDatabase="ConnStr">
        <providerMappings>
            <add databaseType="EntLibContrib.Data.OdpNet.OracleDatabase, EntLibContrib.Data.OdpNet" name="Oracle.DataAccess.Client" />
        </providerMappings>
    </dataConfiguration>
    <!--<oracleConnectionSettings>
        <add name="OracleTest">
            <packages>
                <add name="PKGNORTHWIND" prefix="NWND_" />
                <add name="PKGENTLIB" prefix="RegionSelect" />
            </packages>
        </add>
    </oracleConnectionSettings>-->

    <cachingConfiguration defaultCacheManager="Cache Manager">
        <cacheManagers>
            <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager,Microsoft.Practices.EnterpriseLibrary.Caching"
            expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
            numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
        </cacheManagers>
        <backingStores>
            <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore,Microsoft.Practices.EnterpriseLibrary.Caching"
            name="NullBackingStore"/>
        </backingStores>
    </cachingConfiguration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <authentication mode="Forms">
            <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
        </authentication>

    </system.web>

    <system.webServer>

    </system.webServer>
</configuration>
