<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="sessionManagement">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <sessionManagement>
    <memcached protocol="Binary">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="127.0.0.11" port="11211" />
      </servers>
      <locator type="MemcachedSessionProvider.SessionNodeLocator, MemcachedSessionProvider" />
    </memcached>
  </sessionManagement>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="Custom" customProvider="Memcached">
      <providers>
        <add name="Memcached" type="MemcachedSessionProvider.SessionProvider, MemcachedSessionProvider" />
      </providers>
    </sessionState>
  </system.web>
</configuration>